.Footer {
    background-color: #273849;
    height: 6vh;
    position: absolute;
    bottom: 0;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;

}

.Footer .text {
    color:white;
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}