.Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10vh;
    background-color: #273849;
}

.Navbar .buttonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: white;
    margin-left: 5vw;
}

.Navbar .buttonsContainer .items {
    display:block;
    float:right;
    margin-left:35px;
    position:relative;
    cursor: pointer;
    height: 28px;
}

.slider {
        width: 340px;
        margin: 0 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
}

.slider .rc-slider-track {
    background-color: transparent;
}

.slider .rc-slider-rail {
    height: 10px;
}


.slider .rc-slider-handle,
.rc-slider-handle:focus, 
.rc-slider-handle:active, 
.rc-slider-handle:hover {
            background-color: green;
            outline: none;
            border: 2px solid green;
            box-shadow: none;
            width: 17px;
            height: 17px;
            /* margin-left: -7px;
            margin-top: -3px; */
}

.Slider {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text.Slider {
    color: white;
    width: 150px;
}